// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Sono', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Palette
$black: #191919;
$red: #D05353;
$cooper: #e58f65;
$yellow: #F9E784;
$lemon: #F1E8B8;

