@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
    /* Colors */
    --primary: rgb(18, 18, 18);
    --secondary: brown;
    --third: wheat;

    /* Fonts */
    --font:  'Silkscreen', cursive;
}

body, .background {
    background-color: var(--secondary);
    text-align: center;
    align-items: center;
    overflow-x: hidden;
    font-family: var(--font);
    margin: 0;
}

.background {
    z-index: -1;
}

p {
    color: var(--third);
    font-size: 20px;
}

.display-7 {
    font-size: 1.4rem;
}

.display-5, .display-7 {
    margin-top: 5px;
    color: var(--third);
}

.mt-5 {
    margin-top: 15rem;
}

.board {
    background-color: var(--primary);
    border-radius: 100px;
    padding-block: 0.5rem;
    border: 2px solid var(--third);
}

.cards {
    width: 5.75rem;
    margin: 0 0.25rem;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.545);
    image-resolution: pixelated;
    image-rendering: -moz-crisp-edges;
}

.cards:hover {
    transform: translate(0, -1rem);
    transition: 0.5s;
}

.cards:not(:hover) {
    transition: 0.2s;
}

.dealer-char {
    width: 15rem;
    border: 2px solid var(--third);
}

.player {
    margin-top: 5rem;
}

.player-char {
    width: 10rem;   
}

.chip {
    width: 3.5rem;
    margin-right: 2rem;
    filter: hue-rotate(170deg) brightness(70%);
}

.money {
    background-color: var(--third);
    margin: auto;
    border-radius: 10px;
    width: 80%;
    padding: 0 1rem;
}

.menu, .betting, .preferences {
    border-radius: 5px;
    justify-content: center;
}

.betting, .game-over, .reset-money {
    display: none;
    z-index: -50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgba(18, 18, 18, 0.722);
}

.preferences {
    background-color: var(--primary);
    display: none;
}

.overlay{
    z-index: 25;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 50%;
    display: none;
}

.game, .betting {
    display: none;
}

.back-cards {
    position: absolute;
    left: 50;
    top: 50;
}

.back-cards:nth-child(1) {
    transform: translate(-2px, -2px);
    z-index: 1;
}

.back-cards:nth-child(2) {
    transform: translate(-4px, -4px);
    z-index: 2;
}

.back-cards:nth-child(3) {
    transform: translate(-6px, -6px);
    z-index: 3;
}

.back-cards:nth-child(4) {
    transform: translate(-8px, -8px);
    z-index: 4;
}

.back-cards:nth-child(5) {
    transform: translate(-10px, -10px);
    z-index: 5;
}

.drawn { 
    cursor: pointer;
    transition: ease-in-out 2s;
    z-index: 2;
}

.chat-box {
    color: var(--third);
    font-size: small;
}

