body {
    background-color: darkgreen;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
h1 {
    color: goldenrod;
    font-size: 60px;
}
button {
    background-color: goldenrod;
    color: black;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    margin: 3px auto;
    padding: 10px;
    cursor: pointer;
}
message-el {
    font-size: 28px;
    font-style: italic;
}
input {
    width: 150px;
    border-radius: 6px;
    border: none;
    margin: 3px auto;
    padding: 10px;
}